
.mobile-menu{
    display: none;
}

.mobile-menu-icon{
    display: none;
}

/* Media para menu responsivo */

@media screen and (max-width: 840px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .navegacao .nav-item {
        display: none;
    }
    .mobile-menu{
        background-color: #0d1e4bf6;
        height: 270px;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;
        padding: 15px;
        font-size: 1em;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
    div.logoTitulo{
        height: 110px;
    }
    div.logoTitulo .titulo{
        width: 90%;
        margin: 0 auto;
    }
    .logoTitulo h1{
        font-size: 1.6em;
    }
    .logoTitulo h3{
        font-size: 1em;
    }
    .logoTitulo .logo{
        display: none;
    }
}

@media screen and (max-width: 770px){
    .logoTitulo h1{
        font-size: 1.3em;
        letter-spacing: 1.6px;
    }
    .logoTitulo h3{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 660px){
    .logoTitulo h1{
        font-size: 1.2em;
        letter-spacing: 1.4px;
    }
    .logoTitulo h3{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 560px){
    div.logoTitulo{
        padding: 10px 0px;
    }
    .logoTitulo h1{
        margin-top: 0px;
        font-size: 1.2em;
        letter-spacing: 0px;
    }
    .logoTitulo h3{
        font-size: 0.7em;
    }
}

/* Fim menu responsivo */

/* Media query bloco1 */

@media screen and (max-width: 840px){
    #bloco1{
        width: 500px;
        height: 250px;
    }
}

@media screen and (max-width: 560px){
    #bloco1{
        margin-top: 20px;
        width: 350px;
        height: 175px;
    }
    .bar{
        width: 7px;
        height: 7px;
        border: 1px solid white;
        margin: 4px;
    }
}

@media screen and (max-width: 360px){
    #bloco1{
        margin-top: 10px;
        width: 250px;
        height: 150px;
    }
}

/* Fim bloco1 */

/* Media query bloco2 */

@media screen and (max-width: 1250px){
    #bloco2{
        width: 97vw;
        height: 550px;
        color: white;
    }
    .conteudoB2 .paragrafoB2{
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1006px){
    #bloco2{
        width: 97vw;
        height: 800px;
    }
    .conteudoB2 .paragrafoB2{
        font-size: 1.2em;
    }
    .conteudoB2 .imagensB2{
        row-gap: 10px;
        height: 700px;
    }
    .conteudoB2 .imagensB2 .img1B2,
    .conteudoB2 .imagensB2 .img2B2,
    .conteudoB2 .imagensB2 .img3B2{
        width: 95%;
        height: 220px;
    }
}

@media screen and (max-width: 660px){
    #bloco2{
        height: 1250px;
    }
    .conteudoB2{
        flex-wrap: wrap;
    }
    .conteudoB2 .paragrafoB2{
        width: 95%;
        margin-bottom: 25px;
    }
    .conteudoB2 .paragrafoB2 p{
        text-align: center;
    }
    .conteudoB2 .imagensB2{
        row-gap: 25px;
        width: 95%;
        flex-wrap: wrap;
    }
    .conteudoB2 .imagensB2 .img1B2,
    .conteudoB2 .imagensB2 .img2B2,
    .conteudoB2 .imagensB2 .img3B2{
        width: 75%;
        height: 220px;
    }
}

@media screen and (max-width: 507px){
    #bloco2{
        height: 1300px;
    }
    .conteudoB2 .paragrafoB2{
        font-size: 1.1em;
    }
    .conteudoB2 .imagensB2 .img1B2,
    .conteudoB2 .imagensB2 .img2B2,
    .conteudoB2 .imagensB2 .img3B2{
        width: 70%;
        height: 200px;
    }
}

@media screen and (max-width: 430px){
    #bloco2{
        height: 1200px;
    }
    .conteudoB2 .imagensB2{
        row-gap: 5px;
        height: 550px;
    }
    .conteudoB2 .paragrafoB2{
        font-size: 1em;
    }
    .conteudoB2 .imagensB2 .img1B2,
    .conteudoB2 .imagensB2 .img2B2,
    .conteudoB2 .imagensB2 .img3B2{
        width: 67%;
        height: 170px;
    }
}

@media screen and (max-width: 330px){
    #bloco2{
        height: 1300px;
    }
    .conteudoB2 .imagensB2 .img1B2,
    .conteudoB2 .imagensB2 .img2B2,
    .conteudoB2 .imagensB2 .img3B2{
        width: 75%;
        height: 170px;
    }
}

/* Fim bloco2 */

/* Media query bloco3 */

@media screen and (max-width: 1250px){
    #bloco3{
        width: 97vw;
        height: 650px;
    }
    .informacoes .linha1{
        height: 300px;
    }
    .informacoes .linha2{
        height: 210px;
    }
}

@media screen and (max-width: 1010px){
    #bloco3{
        width: 97vw;
        height: 1050px;
    }
    .informacoes div{
        width: 45%;
        height: 250px;
    }
    .informacoes .linha1{
        height: 300px;
    }
    .informacoes .linha2{
        height: 210px;
    }
}

@media screen and (max-width: 675px){
    #bloco3{
        width: 97vw;
        height: 1850px;
    }
    #bloco3 h1{
        font-size: 1.5em;
    }
    .informacoes div{
        width: 70%;
        height: 250px;
    }
    .informacoes .linha1{
        height: 300px;
    }
    .informacoes .linha2{
        height: 210px;
    }
}