body{
    font-family: sans-serif;
}

/* Cabeçalho */

header{
    margin: 0 auto;
    width: 97vw;
}

header .nav-bar{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    height: 25%;
    display: flex;
    justify-content: space-around;
}

nav.nav-bar{
    background-color: #0d1e4bf6;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul{
    margin: 0px;
    padding: 10px 0px;
    height: 20px;
    list-style: none;
}

header .nav-bar .ataul{
    border: 0.5px solid white
}

header .nav-bar li{
    display: inline;
    margin-right: 15px;
    font-size: 1.2em;
    padding: 5px;
}

header .icones{
    margin-left: 5px;
    color: white;
}

header .icones li{
    margin-right: 10px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: darkgray;
}


div.logoTitulo{
    display: flex;
    border: 0px solid black;
    margin: 0 auto;
    width: 97vw;
    height: 140px;
    background-color: #0d1e4be6;
}

div.titulo{
    border: 0px solid #0d1e4bf7;
    padding: 15px;
    border: 0px solid red;
    width: 61%;
}

.logoTitulo h1{
    margin: 15px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.9em;
}

.logoTitulo h3{
    margin: 0px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}

.logoTitulo .logo{
    width: 18%;
}

.logoTitulo .logo img{
    width: 100%;
    height: 100%;
}

/* Fim cabeçalho */

/* Inicio Carrosel de imagens */

#bloco1{
    position: relative;
    height: 400px;
    width: 800px;
    padding: 0px;
    overflow: hidden;
    margin: 35px auto 50px auto;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
}

.slide{
    width: 25%;
    transition: 1s;
}

#bloco1 .slide img{
    width: 100%;
    height: 100%;
}

.navigation{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
}

.bar{
    width: 10px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.bar:hover{
    background-color: white;
}

.input{
    display: none;
}

#slide1:checked ~ .img1{
    margin-left: 0;
}

#slide2:checked ~ .img1{
    margin-left: -25%;
}

#slide3:checked ~ .img1{
    margin-left: -50%;
}

#slide4:checked ~ .img1{
    margin-left: -75%;
}

/* Fim Carrosel de imagens */

/* Inicio Bloco 2 */

#bloco2{
    margin: 50px auto 0px auto;
    background-color: #0d1e4be0;
    width: 1270px;
    height: 550px;
    color: white;
}

#bloco2 h1{
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

.conteudoB2{
    display: flex;
    justify-content: space-around;
}

.conteudoB2 .paragrafoB2{
    width: 40%;
    font-family: sans-serif;
    font-size: 1.2em;
}

.conteudoB2 .imagensB2{
    width: 50%;
    height: 475px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
}

.conteudoB2 .imagensB2 .img1B2{
    width: 83%;
    height: 220px;
    margin: 0 auto;
    box-shadow: 3px 3px 6px black;
}

.conteudoB2 .imagensB2 .img2B2{
    width: 50%;
    height: 215px;
    box-shadow: 3px 3px 6px black;
}

.conteudoB2 .imagensB2 .img3B2{
    width: 30%;
    height: 215px;
    box-shadow: 3px 3px 6px black;
}

.imagensB2 div img{
    width: 100%;
    height: 100%;
}

/* Fim Bloco 2 */

/* Inicio Bloco 3 */

#bloco3{
    padding-top: 10px;
    width: 1270px;
    margin: 0 auto;
}

#bloco3 h1{
    color: #0d1e4be0;
    text-align: center;
    font-size: 1.7em;
    padding: 15px;
}

#bloco3 .informacoes{
    color: #0d1e4be0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 1%;
    row-gap: 30px;
    font-size: 1.0em;
}

.informacoes div{
    width: 32%;
}

.informacoes div p{
    text-align: center;
}

/* Fim bloco 3 */

/* Inicio bloco 4 (video) */

#bloco4{
    width: 1270px;
    margin: 15px auto;
    height: 550px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}

#bloco4 iframe{
    box-shadow: 3px 3px 6px black;
    width: 60%;
    height: 400px;
}

#bloco4 p{
    color: #0d1e4be0;
    width: 30%;
    height: 400px;
    font-size: 2.6em;
}

/* Fim bloco 4 */

/* Inicio bloco5 */

#bloco5{
    width: 1270px;
    margin: 0 auto;
    padding: 35px 0px;
    font-family: sans-serif;
    text-align: center;
    background-color: #0d1e4be0;
}

#faq{
    width: 700px;
    margin: 0 auto;
}

#bloco5 h1{
    color: white;
    text-align: center;
    font-size: 1.7em;
}

.faq-item button{
    width: 700px;
    padding: 14px;
    position: relative;
    background-color: #0d1e4be0;
    color: white;
    border: 0px;
    box-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
}

.faq-item button:hover{
    cursor: pointer;
}

.faq-item button span{
    border: 0px solid red;
    display: block;
    width: 85%;
}

.faq-item button i{
    position: absolute;
    right: 15px;
    border: 0px solid red;
    display: block;
}

.faq-item .faq-resp {
    background-color: #f3f3f3;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    margin: 0;
  }
  
  .faq-item .action {
    max-height: 10rem;
    padding: 1rem;
    transition: all 0.5s ease-in-out;
  }

  .faq-item i{
    transition: all 0.5s ease-in-out;
  }

  .faq-item i.rotate{
    transform: rotate(180deg);
  }


/* Fim bloco5 */

/* Inicio bloco6 */

#bloco6{
    width: 1270px;
    margin: 0 auto;
}

#bloco6 h1{
    margin-top: 50px;
    color: #0d1e4be0;
    text-align: center;
    font-size: 2.3em;
}

#bloco6 div{
    margin: 0px auto;
    width: 800px;
    height: 450px;
}

#bloco6 div iframe{
    width: 100%;
    height: 100%;
}

/* Fim bloco 6 */

/* Rodape */

footer{
    width: 1270px;
    margin: 20px auto 0px auto;
    background-color: #0d1e4be6;
    padding-top: 30px;
    box-shadow: 3px 3px 6px black;
}

footer div.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

footer div.flex div{
    color: white;
}

footer .flex .imgRodape{
    width: 17%;
    height: 170px;
}

footer .imgRodape img{
    width: 100%;
    height: 100%;
}

footer div ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .navRodape{
    width: 17%;
}

footer .navRodape ul{
    text-align: center;
}

footer .navRodape ul li{
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 1em;
}

footer .horarios{
    width: 27%;
}

footer .horarios ul{
    text-align: center;
    margin-right: 15%;
}

footer .horarios ul li{
    margin-top: 5px;
    letter-spacing: 5px;
    font-size: 1em;
}

footer .contatos{
    width: 27%;
    padding-top: 40px;
    height: 200px;
}

footer .contatos .icones{
    margin-bottom: 30px;
    list-style: none;
    text-align: center;
    color: white;
}

footer .contatos .icones li{
    display: inline;
    margin-right: 25px;
}

footer .contatos h3{
    margin-bottom: 5px;
}

footer .copyright{
    background-color: #0d1e4bf6;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    color: white;
}