body{
    font-family: sans-serif;
    color: white;
}

#container{
    height: 4000px;
}

/* Cabeçalho */

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: darkgray;
}

ul{
    margin: 0px;
    padding: 10px 0px;
    height: 20px;
}

header .menu{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    height: 25%;
}

header .menu li{
    display: inline;
    margin-right: 10px;
    font-size: 1.2em;
}

header .icones{
    list-style: none;
    margin-left: 5px;
}

header .icones li{
    display: inline;
    margin-right: 10px;
}

header{
    margin: 0 auto;
    width: 1270px;
    height: 180px;
}

div.menu{
    background-color: #0d1e4be0;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

div.titulo{
    background-color: #0d1e4bf6;
    border: 1px solid #0d1e4bf6;
    padding: 10px;
    height: 52%;
}

h1.titulo1{
    margin: 15px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Source Code Pro', monospace;
}

h3.subTitulo{
    margin: 0px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}

.scaled:hover{
    transform: scale(2.5);
    color: black;
}

/* Fim cabeçalho */

/* Inicio Carrosel de imagens */

#bloco1{
    height: 400px;
    width: 800px;
    overflow: hidden;
    margin: 15px auto 50px auto;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
}

.slide{
    width: 25%;
    transition: 1s;
}

#bloco1 .slide img{
    width: 100%;
    height: 100%;
}

.navigation{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
}

.bar{
    width: 10px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.bar:hover{
    background-color: white;
}

.input{
    display: none;
}

#slide1:checked ~ .img1{
    margin-left: 0;
}

#slide2:checked ~ .img1{
    margin-left: -25%;
}

#slide3:checked ~ .img1{
    margin-left: -50%;
}

#slide4:checked ~ .img1{
    margin-left: -75%;
}

/* Fim Carrosel de imagens */

/* Inicio Bloco 2 */

#bloco2{
    margin: 50px auto 0px auto;
    background-color: #0d1e4be0;
    width: 1270px;
    height: 550px;
}

#bloco2 h1{
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

.conteudoB2{
    display: flex;
    justify-content: space-around;
}

.conteudoB2 .paragrafoB2{
    width: 40%;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2em;
}

.conteudoB2 .imagensB2{
    width: 50%;
    height: 475px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
}

.conteudoB2 .imagensB2 .img1B2{
    width: 83%;
    height: 220px;
    margin: 0 auto;
    box-shadow: 3px 3px 6px black;
}

.conteudoB2 .imagensB2 .img2B2{
    width: 50%;
    height: 215px;
    box-shadow: 3px 3px 6px black;
}

.conteudoB2 .imagensB2 .img3B2{
    width: 30%;
    height: 215px;
    box-shadow: 3px 3px 6px black;
}

.imagensB2 div img{
    width: 100%;
    height: 100%;
}

/* Fim Bloco 2 */

/* Inicio Bloco 3 */

#bloco3{
    height: 600px;
    padding-top: 10px;
    width: 1270px;
    margin: 0 auto;
}

#bloco3 h1{
    color: #0d1e4be0;
    text-align: center;
    font-size: 1.7em;
}

#bloco3 .informacoes{
    color: #0d1e4be0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3%;
    row-gap: 30px;
    font-size: 1.0em;
}

.informacoes div{
    width: 30%;
    height: 250px;
}

.informacoes div ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.informacoes div ul li{
    text-align: center;
    padding: 8px;
}